<div class="panel panel-primary">
  <div class="panel-heading">
    {{ pageTitle }}
  </div>

  <div class="panel-body">
    <form class="form-horizontal" novalidate (ngSubmit)="onSubmit()" [formGroup]="productForm">
      <fieldset>

        <div class="form-group" [ngClass]="{'has-error': displayMessage.productName}">
          <label for="productNameId" class="col-md-2 control-label">
            Product Name
          </label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="productNameId" placeholder="Name (required)"
              formControlName="productName" />
            <span class="help-block" *ngIf="displayMessage.productName">
              {{ displayMessage.productName }}
            </span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': displayMessage.productCode}">
          <label for="productNameId" class="col-md-2 control-label">
            Product Code
          </label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="productCodeId" placeholder="Code (required)"
              formControlName="productCode" />
              <span class="help-block" *ngIf="displayMessage.productCode">
                {{displayMessage.productCode}}
               </span>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': displayMessage.starRating}">
          <label for="productNameId" class="col-md-2 control-label">
            Star Rating (1-5)
          </label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="starRatingId" placeholder="Rating"
              formControlName="starRating" />
              <span class="help-block" *ngIf="displayMessage.starRating">
                {{displayMessage.starRating}}
               </span>
          </div>
        </div>

        <div formArrayName="tags">
          <div class="row">
            <button class="col-md-offset-1 col-md-1 btn btn-default" type="button" (click)="addTag()">
              Add Tag
            </button>
          </div>
          <div class="form-group" *ngFor="let tag of tags.controls; let i = index;">
            <label [attr.for]="i" class="col-md-2 control-label">
              Tag
            </label>
            <div class="col-md-8">
              <input type="text" class="form-control" [id]="i" placeholder="Tag" [formControlName]="i" />
            </div>
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': displayMessage.description}">
          <label for="descriptionId" class="col-md-2 control-label">
            Description
          </label>
          <div class="col-md-8">
            <textarea id="descriptionId" rows="3" class="form-control" placeholder="Description" formControlName="description"></textarea>
          </div>
          <span class="help-block" *ngIf="displayMessage.description">
            {{ displayMessage.description }}
          </span>
        </div>


        <div class="form-group">
          <div class="colo-md-4 col-md-offset-2">
            <span>
              <button class="btn btn-primary" type="submit" style="width: 80px; margin-right: 10px;" [disabled]="!productForm.valid">
                Save
              </button>
            </span>
            <span>
              <button class="btn btn-default" style="width: 80px" (click)="onCancel()">
                Cancel
              </button>
            </span>
            <span>
              <a class="btn btn-defaul" style="width: 80px;" (click)="onDelete()">
                Delete
              </a>
            </span>
          </div>
        </div>

      </fieldset>
    </form>
    <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
  </div>
</div>

